
<h3>Welcome, <%= current_user.username %></h3>

<%= if @saved_recipes %>
  <p>My Recipes:</p>
  <% @saved_recipes.each do |recipe| %>
    <%= link_to recipe.name, "/discover/#{recipe.recipe_id}" %>
  <% end %>
<% end %>

<%= button_to "Discover Recipes", discover_index_path, method: :get %> 