<div style="text-align:center;margin-top:25px;">
  <%= image_tag "<iframe src="https://giphy.com/embed/p0L1rezLH2Tja" width="480" height="306" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/vampire-p0L1rezLH2Tja">via GIPHY</a></p>" %>
</div>